/* HEADER */

header{
  background-color: white;
  height: 60px;
  line-height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header li{
  display: inline-block;
  padding-left: 20px;
}

.logo img {
  vertical-align: middle;
  width: 100 px;
  padding-left: 20px;
}

.nav-left{ 
  text-align: left;
}

.nav-right{ 
  text-align: right;
}

.nav-left .nav-right{
  width: calc((100 - 250px) /2 );
}

.head-btn{
  width: 100px;
  text-align: right;
  padding-right: 20px;
}

/* /HEADER */

/* JUMBOTRON */
 
.jumbotron{
  background-color: #B4D0E7;
  height: 600px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.jumbotron span {
  display: block;
  margin-bottom: 10px;
}

.jumbo-content{
  width: 80%;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 70px;
}

.jumbo-section {
  height: 300px;
  max-width: 1500px;
}

#jumbo-title {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 20px;
}

span.btn {
  width: 220px;
  margin: 20px 0 10px 0;
}

span.btn a{
  text-decoration: none;
}

.jumbo-img img{
  width: 100%;
}

.jumbo-text {
  padding-right: 50px;
  width: 40%;
}
/* / JUMBOTRON */


/* PIANO BUSINESS */

/* /PIANO BUSINESS */



/* DESCRIZIONE DROPBOX  */
.col2 img{
  background-size: cover;
  background-position: center;
  width: 100%;
}

.partner-text {
  padding: 40px;
}

.partner-text h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.partner-text p {
  margin-bottom: 25px;
  font-size: 0.9rem;
}

.white-btn {
  background-color: white;
  color: black;
  padding: 8px 15px;
  border: 1px solid black;
}

.partner-section {
  margin-bottom: 50px;
}
/* /DESCRIZIONE DROPBOX  */

